/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
}

a{
    color: black;
} a:hover{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Estilos do cabeçalho */
header{
    padding: 10px;

    background: black;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo h1{
    margin: 0 auto;
}
.usuario{
    width: 2em;
    height: 2em;
    padding: 1px;
    position: absolute;
    margin: 0.5em 0 0 80vw;

    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 700;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
} .usuario:hover{
    cursor: pointer;
    margin: 0.3em 0 0 80vw;
    width: 2.3em;
    height: 2.3em;

    transition: 0.2s;
}
header a{
    color: #fff;
}

/* Estilos da criacao de conta */
.box{
    padding: 10px;
    margin: 10px;
    width: 20em;

    border-radius: 4px;
    background: rgba(223, 223, 223, 0.555);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.548);

    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box input{
    padding: 1px;

    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.342);
}
.erro{
    color: red;
}
.box input[type="button"]{
    margin: 10px auto;
    padding: 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.548);
    background: rgba(165, 165, 165, 0.61);
    color: #313131;
    font-weight: 1000;

    display: block;

    transition: 0.1s;
}.box input[type="button"]:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
    background: rgba(150, 150, 150, 0.61);
    color: #222222;

    cursor: pointer;
    transition: 0.1s;
}
.linha{
    height: 1px;
    background: rgba(0, 0, 0, 0.445);
}
.link-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* estilos do perfil */
#divPerfil{
    width: 15em;
    font-size: 15px;
    background: #c9c9c9;

    display: none;
    position: absolute;
    top: 75px;
    right: 20px;

    transition: 0.1s;
}

/* */
#divEntrar{
    display: none;
}
#divBlog{
    display: none;
}